layout {

    focus-ring {
        active-color   "#a3c9ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a3c9ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a3c9ff"
        inactive-color "#004883"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a3c9ff80"
    }
}
